*.sif
__pycache__
datasets/out_supervisely/
detectron2.egg-info/
detectron2/_C.cpython-38-x86_64-linux-gnu.so
detectron2/model_zoo/configs
build/
results*/
weights*/
output*/
work_process.md
boxal_*py
boxal_*yaml
*log
*png
*csv
*txt
IOB_trainings/
